.category-all-page {
  margin: 30px 40px 30px 40px;
  position: relative;
  min-height: 70vh;
}
.category-all-page h2 {
  margin: 20px 0;
}
.category-all-page .category-all-title {
  text-align: center;
}
.category-all-page .category-all {
  margin-top: 20px;
}
.category-all-page .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-all-page .category-list-item-list-item {
  margin: 10px 15px;
}
.category-all-page .category-list-item-list-count {
  color: $grey;
}
.category-all-page .category-list-item-list-count:before {
  display: inline;
  content: " (";
}
.category-all-page .category-list-item-list-count:after {
  display: inline;
  content: ") ";
}
.category-all-page .category-list-item {
  margin: 10px 10px;
}
.category-all-page .category-list-count {
  color: $grey;
}
.category-all-page .category-list-count:before {
  display: inline;
  content: " (";
}
.category-all-page .category-list-count:after {
  display: inline;
  content: ") ";
}
.category-all-page .category-list-child {
  padding-left: 10px;
}
.tag-all-page {
  margin: 30px 40px 30px 40px;
  position: relative;
  min-height: 70vh;
}
.tag-all-page h2 {
  margin: 20px 0;
}
.tag-all-page .tag-all-title {
  text-align: center;
}
.tag-all-page .tag-all {
  margin-top: 20px;
}
.tag-all-page .tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag-all-page .tag-list-item-list-item {
  margin: 10px 15px;
}
.tag-all-page .tag-list-item-list-count {
  color: $grey;
}
.tag-all-page .tag-list-item-list-count:before {
  display: inline;
  content: " (";
}
.tag-all-page .tag-list-item-list-count:after {
  display: inline;
  content: ") ";
}
.tag-all-page .tag-list-item {
  margin: 10px 10px;
}
.tag-all-page .tag-list-count {
  color: $grey;
}
.tag-all-page .tag-list-count:before {
  display: inline;
  content: " (";
}
.tag-all-page .tag-list-count:after {
  display: inline;
  content: ") ";
}
.tag-all-page .tag-list-child {
  padding-left: 10px;
}
